#one {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#two {
    position: absolute;
    left: 150px;
    top: 0px;
    z-index: 1;
}

#three {
    position: relative;
    left: 65px;
    top: 60px;
    z-index: 2;
}

#four {
    position: absolute;
    left: 0px;
    top: 140px;
    z-index: 1;
}

#five {
    position: absolute;
    left: 150px;
    top: 140px;
    z-index: 1;
}